header{
  border-bottom: 0.5px solid $first_color;
  .headtop{
    height: 60%;
    clear: both;
    img{
      float: left;
      padding: $space $space;
    }
    p{
      padding-left: 5px;
      color: $first_color;
      font-size: 20px;
      float: left;
      padding-top: $space
    }
    .head-left
    float: right;
    border-radius: 50%
    color: $first_color;
    background-color: white;
    &:hover{
      background-color: lighten($first_color, 50%);
    }
  }
  .headbottom{
    height: 40%;
    color: $first_color;
  }

}
