main{
  padding-left: 150px;
  padding-right: 150px;
  h3{
    color: #3c4043;
    margin-top: 100px;
  }
  p{
    color: rgba(0,0,0,0.87);
      margin-bottom: 50px;
  }
  ul{
    padding-left: 150px;
    list-style-type: none;
    li{
      margin-left: 5px;
      display: inline-block;
      padding-bottom: $space;
      a{
        font-size: 13px;
        text-decoration: none;
        color:rgba(0,0,0,0.87);
        margin-left: 20px;
      }
    }
  }
}
